    <div ng-controller="chipController as ctrl">

       <h2>{{ctrl.chip_name}}</h2>

       <tag-controls obj="ctrl"></tag-controls>

       <table-controls obj="ctrl"></table-controls>

        <table class="table table-bordered table-hover table-style" ng-if="ctrl.chip_type == 'none'">

             <thead>
                 <tr>
                     <th class="col-sm-6">
                        <table-sort obj="ctrl" field="block" text="block name" link="#/chip/{{ctrl.chip_type}}/{{ctrl.chip_name}}"></table-sort>
                     </th>
                     <th class="col-sm-6">
		        Owners
                     </th>
                 </tr>
             </thead>

            <tr ng-repeat="d in ctrl.data">

               <td><a ng-href="#/chip/{{ctrl.chip_type}}/{{ctrl.chip_name}}/{{d.name}}">{{d.name}}</a></td>
               <td><edit-in-place obj="ctrl" id="d.id" value="d.owners"></edit-in-place></td>

            </tr>

        </table>

        <table class="table table-bordered table-hover table-style" ng-if="ctrl.chip_type != 'none'">

             <thead>
                 <tr>
                     <th class="col-sm-4">
                        <table-sort obj="ctrl" field="block" text="block name" link="#/chip/{{ctrl.chip_type}}/{{ctrl.chip_name}}"></table-sort>
                     </th>
                     <th class="col-sm-4">
		        Coverage ({{ctrl.chip_type}})
                     </th>
                     <th class="col-sm-4">
		        Owners
                     </th>
                 </tr>
             </thead>

            <tr ng-repeat="d in ctrl.data">

               <td><a ng-href="#/chip/{{ctrl.chip_type}}/{{ctrl.chip_name}}/{{d.name}}">{{d.name}}</a></td>
               <td>TBD</td>  
               <td><edit-in-place obj="ctrl" id="d.id" value="d.owners"></edit-in-place></td>

            </tr>

        </table>



       <table-pager obj="ctrl"></table-pager>


    </div>
